# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# When downloading from the Asset Library, only include the addons folder.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
